@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Title</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>LastModified</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Description</td>            
                <td>@item.Rating</td>
                <td>@item.LastModified</td>
            </tr>
        }        
    </tbody>
</table>

<ul>
    @foreach (var item in Model.Items)
    {
        var text = evalItem(@item);
        if (doWeKnowHim(item)){ 
            <li>@item - @text!!!</li>
        }
        else{
            <li>@item</li>
        }
    }
</ul>

@functions {
    public bool doWeKnowHim(string item)
    {
        return item.Contains("Les");
    }

    public string evalItem(string item)
    {
        if (item.Contains("Les"))
            return "lo conocemos";
        else
            return "ok";
    }
}
