@model RoleViewModel

@{
    ViewData["Title"] = "Role Details";
}

<h1>Role Details</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.RoleId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.RoleId)</dd>
        
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.RoleName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.RoleName)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

